

    .Pagination-num {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; */
    overflow: hidden;
    margin-top: 10px;
    margin-left: 3px;
    margin-right: 3px;
    background: #fff;
    border: solid 1px #111;
    font-size: 14px;
    color: #111;
    font-weight: bold;
    transition: all 0.15s linear;
    }
    
    .Pagination-num.isActive {
    background: #111;
    color: #fff;
    pointer-events: none;
    }
    .Pagination-num:not(.isActive):hover {
    background: #111;
    color: #fff;
    }
    .Pagination > * + * {
    margin-left: 8px;
    }